<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SIPSwitchIP</key>
	<string>&lt;your server ip&gt;</string>
	<key>SIPSwitchPort</key>
	<string>&lt;your server port&gt;</string>
	<key>UserName</key>
	<string>&lt;user name&gt;</string>
	<key>Password</key>
	<string>&lt;password&gt;</string>
</dict>
</plist>
